<a href="https://colab.research.google.com/github/tasdid25/Python/blob/main/5_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#while loop

In [1]:
#Sum of n Numbers Program

n = int(input("Enter the n Number:"))
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i +1

print(sum)

Enter the n Number:5
15

In [2]:
#break
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [3]:
#Continue

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [6]:
#try_catch
sum = 0

while True:
    num = input("Enter a Number: ")
    if num == "quit":
        break

    try:
        num = int(num)
    except:
        print("Enter a valid number please.")
        continue
    sum = sum + num
    print(sum)

Enter a Number: 3
3
Enter a Number: a
Enter a valid number please.
Enter a Number: quit

#FOR LOOP

In [7]:
#Looping Through a String

for x in "banana":
  print(x)

b
a
n
a
n
a

In [8]:
#Looping Through a list

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [9]:
#The break Statement
#Exit the loop when x is "banana"

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

##Range() Function
To loop through a set of code a specified number of times we can use it

In [10]:
#Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

In [11]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [13]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 5):
  print(x)

2
7
12
17
22
27

##For with Enumerate

In [14]:
num = [30, 10, 70, 12]

for i, x in enumerate(num):
    print(i, x)

0 30
1 10
2 70
3 12

##Nested loop

In [15]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry